<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8"/>
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ full_url_for('home') }}/css/bootstrap.min.css"/>

		<link
		rel="stylesheet" href="{{ full_url_for('home') }}/css/app.css"/>

		<!-- Font Awesome -->
		<link
		rel="stylesheet" href="{{ full_url_for('home') }}/css/font-awesome.min.css"/>

		<!-- Line Icons -->
		<link rel="stylesheet" href="{{ full_url_for('home') }}/css/simple-line-icons.css"/>

		<title>
			{{ app.name }}
		</title>
	</head>

	<body>
		<header>{% include "partials/navbar.twig" %}</header>

		<main class="container-fluid">
			<div class="messages py-2">
				{% if flash %}
					{% for f in flash %}
						<div class="alert alert-info alert-dismissible fade show" role="alert">
							{{ f }}
							<button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				{% endif %}
			</div>

			{% block contents %}{% endblock %}
		</main>

		<!-- Footer -->
		{% include "partials/footer.twig" %}

		<div>
			{% block scripts %}
				<script src="{{ full_url_for('home') }}/js/lightbox-plus-jquery.min.js"></script>
				<script src="{{ full_url_for('home') }}/js/bootstrap.bundle.min.js"></script>
			{% endblock %}
		</div>
	</body>
</html>
